.tampilanUtama{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    width: 100%;
}

.mainContainer{
    width: 25%;
    height: 60%;
    border-radius: 1000px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}